/* color scheme is temporary, definitely can be changed */

body {
	background-color:#660066;
	font-size: 15px;
	font-family: "Verdana";
	color: white;
	text-align: center;
}
h1 {
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
    font-family: "Lato";
    font-size: 60px;
    color: white; /* could try various box colors: 44A340 */
    font-weight: lighter;
}
input[type=button] {
  margin-bottom:5px;
  padding:3px;
  background-color: #660066; /*color options: 141826, 0AC5F4, 660066 */
  border: 1px solid #ffffff;
  color:#ffffff;
  text-decoration:none;
  font-size: 15px;
  font-weight: 500;
  font-family: "Lato";
  /*font-weight: lighter;*/
}


